#title {
  font-size: 30px;
  font-weight: thick;
  line-height: 1.25em;
  position:absolute;
  left: 9px;
  top: 7.5px;
}
#name {
  position: absolute;
  left: 10px;
  top: 40px;
}
#defaultCanvas0 {
  visibility: visible !important;
}
#canvas {
  right: 10px;
  top: 10px;
  position: absolute;
  background-color: #eee;
  padding: 10px;
}
canvas {
  transform: translate(0,65px);
  display: block;
  margin: auto;
  padding: 5px;
}
#input {
  line-height: 26px;
  text-align: center;
  border-color: #fff;
  border-style: solid;
}
#input:active, #input:focus {
  line-height: 30px;
  border-style: solid;
  border-width: .5px;
  border-color: #000;
  outline: none;
}
.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus {
  outline: none;
  color: #000;
  padding: 4px 8px;
  background-color: #fff;
  border-style: solid;
  border-width: .5px;
  border-color: #000;
}
@keyframes float {
  from { 
    box-shadow: 0px 0px 2px #ddd;
    transform: scale(1);
  }
  to {
    box-shadow: 2px 2px 4px #ccc;
    transform: scale(1.05);
  }
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: #000 !important;
  color: #fff !important;
  box-shadow: 2px 2px 4px #ccc;
  transform: scale(1.05);
  animation-name: float;
  animation-duration: 1s;
}
